.comparison {
    margin-top: 20px;
}

.comparison-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comparison-list h2 {
    margin-top: 0;
}

.comparison-list ul {
    padding: 0;
    list-style-type: none;
    /* Remove bullet points */
}

.comparison-property {
    width: calc(25% - 10px);
    margin-bottom: 10px;
    display: inline-block;
    /* margin: .3rem; */
}

.comparison-property>div {
    background-color: #fff;
    padding: 10px;
    /* border-radius: 4px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    height: 100%;
}

.comparison-property img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.property-name {
    font-weight: bold;
}

.property-price {
    margin-bottom: 5px;
}

.property-value {
    margin-bottom: 5px;
}

.property-not-available {
    margin-bottom: 5px;
    color: red;
}

.comparison-property button {
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.comparison-property button:hover {
    background-color: #c82333;
}

.add-property-card {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.add-property-card p {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-property-card button {
    background-color: #1d9a1f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    padding: 0.5rem;
}