.add-button {
    background-color: green;
    color: white;
}

.remove-button {
    background-color: red;
    color: white;
}

.card_img {
    width: 8rem !important;
    height: 5rem !important;
}